<%- include("../partials/head") %>
<%- include("../partials/leftSidebar") %>
<%- include("../partials/header") %>

<div class="content">

    <h1 class="mb-4 fw-semibold d-flex align-items-center main-title fs-3">
        Master Data
    </h1>

    <div class="row gx-3 gy-3 mb-3">
        
        <div class="col-xl-2 col-lg-4 col-md-6 row-card-data">
            <a href="/admin/master-data/bidding-sessions">
                <div class="card text-center row-card">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                        <img src="/assets/icon_imgs/biddingSession_2.png" alt="">
                        <p class="fw-normal pt-3 mb-0 text-uppercase">Bidding Sessions</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xl-2 col-lg-4 col-md-6 row-card-data">
            <a href="/admin/master-data/programs">
                <div class="card text-center row-card">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                        <img src="/assets/icon_imgs/programs_2.png" alt="">
                        <p class="fw-normal pt-3 mb-0 text-uppercase">Programs</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xl-2 col-lg-4 col-md-6 row-card-data">
            <a href="/admin/master-data/courses">
                <div class="card text-center row-card">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                        <img src="/assets/icon_imgs/courses_2.2.png" alt="">
                        <p class="fw-normal pt-3 mb-0 text-uppercase">Courses</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xl-2 col-lg-4 col-md-6 row-card-data">
            <a href="/admin/master-data/program-sessions">
                <div class="card text-center row-card">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                        <img src="/assets/icon_imgs/session_2.png" alt="">
                        <p class="fw-normal pt-3 mb-0 text-uppercase">Program Sessions</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xl-2 col-lg-4 col-md-6 row-card-data">
            <a href="/admin/master-data/areas">
                <div class="card text-center row-card">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                        <img src="/assets/icon_imgs/areas_2.2.png" alt="">
                        <p class="fw-normal pt-3 mb-0 text-uppercase">Areas</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xl-2 col-lg-4 col-md-6 row-card-data">
            <a href="/admin/master-data/specialization">
                <div class="card text-center row-card">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                        <img src="/assets/icon_imgs/specialization_2.png" alt="">
                        <p class="fw-normal pt-3 mb-0 text-uppercase">Specialization</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xl-2 col-lg-4 col-md-6 row-card-data">
            <a href="/admin/master-data/students-data">
                <div class="card text-center row-card">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                        <img src="/assets/icon_imgs/students_2.png" alt="">
                        <p class="fw-normal pt-3 mb-0 text-uppercase">Students Data</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xl-2 col-lg-4 col-md-6 row-card-data">
            <a href="/admin/master-data/pre-requisites">
                <div class="card text-center row-card">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                        <img src="/assets/icon_imgs/pre_requisites_2.png" alt="">
                        <p class="fw-normal pt-3 mb-0 text-uppercase">Pre-requisites</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xl-2 col-lg-4 col-md-6 row-card-data">
            <a href="/admin/master-data/completed-courses">
                <div class="card text-center row-card">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                        <img src="/assets/icon_imgs/comp_courses_2.png" alt="">
                        <p class="fw-normal pt-3 mb-0 text-uppercase">Completed Courses</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xl-2 col-lg-4 col-md-6 row-card-data">
            <a href="/admin/master-data/division-batches">
                <div class="card text-center row-card">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                        <img src="/assets/icon_imgs/divisions_2.png" alt="">
                        <p class="fw-normal pt-3 mb-0 text-uppercase">Divisions Batches</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xl-2 col-lg-4 col-md-6 row-card-data">
            <a href="/admin/master-data/bonus-points">
                <div class="card text-center row-card">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                        <img src="/assets/icon_imgs/bonus_points_2.png" alt="">
                        <p class="fw-normal pt-3 mb-0 text-uppercase">Bonus Points</p>
                    </div>
                </div>
            </a>
        </div>


    </div>

</div>

<%- include("../partials/footer") %>

<script>

setActiveMenuItem(`<%- active %>`)
    
</script>   

<%- include("../partials/footerEnd") %>