<%- include("../partials/head") %>
<%- include("../partials/leftSidebar") %>
<%- include("../partials/header") %>

<div class="content">

    <h1 class="mb-4 fw-semibold d-flex align-items-center main-title fs-3">
        Reports
    </h1>

    <!-- <div class="row gx-3 gy-3 mb-3">

        <div class="col-xl-2 col-lg-4 col-md-6 row-card-data">
            <a href="/admin/bidding-settings/concentration-settings">
                <div class="card text-center row-card">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                        <img src="/assets/icon_imgs/concentration_2.png" alt="">
                        <p class="fw-normal pt-3 mb-0 text-uppercase">Concentration Settings</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xl-2 col-lg-4 col-md-6 row-card-data">
            <a href="/admin/bidding-settings/round-settings">
                <div class="card text-center row-card">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                        <img src="/assets/icon_imgs/round_settings_2.png" alt="">
                        <p class="fw-normal pt-3 mb-0 text-uppercase">Round Settings</p>
                    </div>
                </div>
            </a>
        </div>


    </div> -->

</div>

<%- include("../partials/footer") %>

<script>

setActiveMenuItem(`<%- active %>`)
    
</script>   

<%- include("../partials/footerEnd") %>